<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vince Why | Home</title>
</head>
<body>
    




    <form action="/contactme" method="get">
        <button type="submit">Contact Me</button>
    </form>

    <form action="/aboutme" method="get">
        <button type="submit">About Me</button>
    </form>

    <form action="/mywork" method="get">
        <button type="submit">Previous Events</button>
    </form>

    



</body>
</html>